.r1,
.r2,
.r3 {
    position: absolute;
    width: 449.66px;
    height: 926px;
    top: 98px;
    background: #4B626C;
    z-index: -1;
    display: flex;
    justify-content: center;
}

.r2 {
    left: 449.66px;
    background: #FFFFFF;
    box-shadow: -10px 7px 7px 0px #00000040;
}

.r3 {
    left: 899.32px;
    box-shadow: -10px 7px 7px 0px #00000040;
}

.cadastrarJogo,
.removerJogo,
.editarJogo {
    position: absolute;
    width: 249px;
    height: 39px;
    left: 108.67px;
    top: 171px;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #FBF6F0;
}

.removerJogo {
    width: 238px;
    left: 562.44px;
    color: #4B626C;
}

.editarJogo {
    left: 1034.98px;
    top: 171px;
}

#i1,
#i2,
#i3,
#i4,
#i5,
#i6,
#i7 {
    outline: none;
    border: none;
    position: absolute;
    padding: 18px;
    width: 365.35px;
    height: 50px;
    left: 42.16px;
    top: 256px;
    background: #EFEFEF;
    border-radius: 5px;
    box-shadow: 0px 4px 20px 0px #00000040;
    font-size: 24px;
    color: #97A4A2;
    font-family: 'Montserrat';
}

#i2,
#i6 {
    top: 352px;
}

#i3,
#i7 {
    height: 154px;
    top: 462px;
}

#i4 {
    left: 491.82px;
    top: 257px;
    background: #4B626C;
    color: white;
}

#i5,
#i6, #i7 {
    left: 941.24px;
}

#i1::placeholder,
#i2::placeholder,
#i3::placeholder,
#i4::placeholder,
#i5::placeholder,
#i6::placeholder,
#i7::placeholder {
    text-align: center;
    font-size: 24px;
    font-family: 'Montserrat';
    font-weight: 300;
    color: #97A4A2;
}


#i4::placeholder {
    color: white;
}

.file-btn, .file-btn2 {
    border: none;
    position: absolute;
    width: 200px;
    height: 50px;
    left: 140px;
    top: 662px;
    background: #EFEFEF;
    border-radius: 5px;
    box-shadow: 0px 4px 20px 0px #00000040;
    font-size: 24px;
    font-weight: 300;
    color: #97A4A2;
    font-family: 'Montserrat';
    white-space: nowrap;
    cursor: pointer;
}


.file-btn2 {
    left: 1030.48px;
}


.file-btn:hover, .file-btn2:hover {
    background-color: #3b4d57;
}

.file-btn:active,
.cadastro:active,
.remove:active {
    scale: 0.98;
}

.cadastro,
.remove, .modificar{
    position: absolute;
    border: none;
    width: 270px;
    height: 45px;
    left: 98.36px;
    top: 758px;
    background: #FFFFFF;
    border-radius: 10px;
    color: #606060;
    font-family: 'Montserrat';
    font-size: 30px;
    font-weight: 400;
    cursor: pointer;
}

.modificar {
    left: 997.9px;
}


.remove {
    left: 548.13px;
    top: 363px;
    background: #4B626C;
    color: #F3F3F3;
}

.cadastro:hover,
.modificar:hover {
    background-color: #d0d6d8;
    box-shadow: -4px 6px 8px rgba(0, 0, 0, 0.2);
}

.remove:hover {
    background-color: #3b4d57;
}

#i1:active,
#i2:active,
#i3:active,
#i4:active,
#i5:active,
#i6:active,
#i7:active,
.file-btn:active,
.file-btn2:active,
.cadastro:active,
.modificar:active,
.remove:active {
    scale: 0.98;
}
