.container {
    position: relative;
    width: 1349px;
    height: 1024px;
    background: #FBF8F4;
    overflow: hidden;
}

.imagem {
    position: absolute;
    width: 1239px;
    height: 1239px;
    left: 404px;
    top: -140px;
    z-index: 1;
}

.rectangle1 {
    position: absolute;
    width: 550px;
    height: 1024px;
    left: 0px;
    top: 0px;
    background: transparent;
    z-index: 1;
}

.reg {
    position: absolute;
    width: 182px;
    height: 78px;
    top: 58px;
    left: 130px;
    font-size: 64px;
    font-family: 'Montserrat';
    color: #4B626C;
    text-align: center;
    font-weight: 400;
    line-height: 78px;
    margin: auto;
    text-align: center;
    z-index: 1;
}

.nome, .emailReg, .senhaReg, .cpf, .confirmar {
    position: absolute;
    border: 0;
    outline: 0;
    top: 197px;
    left: 80px;
    width: 390px;
    height: 50px;
    background: #EFEFEF;
    box-shadow: 0px 4px 20px 0px #00000040;
    color: #697573;
    border-radius: 5px;
    padding-left: 20px;
    font-family: 'Montserrat';
    font-size: 24px;
    z-index: 1;
    font-weight: 300;
}

.emailReg {
    top: 309px;
}

.cpf {
    top: 421px;
}
.senhaReg {
    top: 533px;
}

.confirmar {
    top: 645px;
}

.seta2 {
    position: absolute;
    width: 35px;
    left: 438px;
    top: 778px;
    color: #4B626C;
    font-size: 2rem;
}

.seta2:hover{
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

.seta2:active {
    transform: translate(2px, 2px);
}

.fazerLogin {
    position: absolute;
    width: 120px;
    height: 24px;
    left: 80px;
    top: 950px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #97A4A2;
}

.nome:hover, .cpf:hover, .emailReg:hover, .senhaReg:hover, .confirmar:hover {
    box-shadow: 0px 4px 20px 0px #3d454d40;
}

.fazerLogin:hover{
    text-shadow: -4px 4px 4px #a5aaac;
}
.fazerLogin:active {
    transform: translate(-2px, 1px)
}